<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav style="background-color: #26a69a; width: 100%;" class="navbar sticky-top navbar-light bg-light">

    <a class="navbar-brand" href="#"></a>
  </nav>
  </body>
</html>
