<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <%- include('../views/partials/head.ejs')%>
  </head>
  <body>

  <div class="body-overlay">
    <h1>New Post</h1><br/>
    <main class="show-main">
      <div class= "date">


        <form action="/blogs" method="POST">
          <input type="datetime-local" name= "date" placeholder="date"><br/>
          <input type="text" name="title" placeholder="title"><br/>
          <input type="text-box" name="entry" placeholder="entry"><br/>
          <input type="submit" name="id" value="Create New Blog"/>

      </form>
      <a href="/blogs/" class="btn btn-success">Back</a>
      </div>

    </main>

  </div>

</body>

</html>
