<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../views/partials/head.ejs')%>

  </head>
  <body class="splash-container">
    <div>
        <a href="/blogs" class="btn btn-danger enter">Enter</a>

    </div>
  </body>
</html>
